html,body{
	height: 100%;
	width:100%;
	overflow:hidden;

}
.swiper-container{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.swiper-slide img{
	position: absolute;
	max-width: 100%;
}

.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
}


.page1,
.page2,
.page3,
.page4,
.page5,
.page6{
	background: url("../img/page1_bg.jpg") no-repeat center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.page-current{
	z-index:1;
}



.page1>div.page1-1 .img1{
	position: absolute;
	left: 5.96rem;
	top: 1.12rem;
	/*-webkit-transform:translate(-0.98rem,5.0667rem);
	transform:translate(-0.98rem,5.0667rem);*/
	animation: img1 1s ease-in;
	-webkit-animation: img1 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
.img1_d{
	animation: img1 1s ease-in;
	-webkit-animation: img1 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img1{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-0.98rem,5.0667rem);-webkit-transform: translate(-0.98rem,5.0667rem);opacity: 0;}
}
@keyframes img1{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-0.98rem,5.0667rem);-webkit-transform: translate(-0.98rem,5.0667rem);opacity: 0;}
}

.page1>div.page1-1 .img2{
	position: absolute;
	left: 8.54667rem;
	top: 2.76rem;
	/*animation: img2 1s ease-in;
	-webkit-animation: img2 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img2_d{
	animation: img2 1s ease-in;
	-webkit-animation: img2 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img2{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-3.5667rem,3.42667rem);-webkit-transform: translate(-3.5667rem,3.42667rem);opacity: 0;}
}
@keyframes img2{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-3.5667rem,3.42667rem);-webkit-transform: translate(-3.5667rem,3.42667rem);opacity: 0;}
}

.page1>div.page1-1 .img3{
	position: absolute;
	left: 7.186667rem;
	top: 4.50667rem;
	/*animation: img3 1s ease-in;
	-webkit-animation: img3 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img3_d{
	animation: img3 1s ease-in;
	-webkit-animation: img3 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img3{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-2.20667rem,1.68rem);-webkit-transform: translate(-2.20667rem,1.68rem);opacity: 0;}
}
@keyframes img3{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-2.20667rem,1.68rem);-webkit-transform: translate(-2.20667rem,1.68rem);opacity: 0;}
}

.page1>div.page1-1 .img4{
	position: absolute;
	left: 9.333rem;
	top: 5.6rem;
	/*animation: img4 1s ease-in;
	-webkit-animation: img4 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img4_d{
	animation: img4 1s ease-in;
	-webkit-animation: img4 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img4{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-4.353rem,0.58667rem);-webkit-transform: translate(-4.353rem,0.58667rem);opacity: 0;}
}
@keyframes img4{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-4.353rem,0.58667rem);-webkit-transform: translate(-4.353rem,0.58667rem);opacity: 0;}
}

.page1>div.page1-1 .img5{
	position: absolute;
	left: 8.90667rem;
	top: 7.38667rem;
	/*animation: img5 1s ease-in;
	-webkit-animation: img5 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img5_d{
	animation: img5 1s ease-in;
	-webkit-animation: img5 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img5{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-3.92667rem,-1.2rem);-webkit-transform: translate(-3.92667rem,-1.2rem);opacity: 0;}
}
@keyframes img5{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-3.92667rem,-1.2rem);-webkit-transform: translate(-3.92667rem,-1.2rem);opacity: 0;}
}

.page1>div.page1-1 .img6{
	position: absolute;
	left: 6.16rem;
	top: 8.16rem;
	/*animation: img6 1s ease-in;
	-webkit-animation: img6 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img6_d{
	animation: img6 1s ease-in;
	-webkit-animation: img6 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img6{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-1.18rem,-1.97333rem);-webkit-transform: translate(-1.18rem,-1.97333rem);opacity: 0;}
}
@keyframes img6{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-1.18rem,-1.97333rem);-webkit-transform: translate(-1.18rem,-1.97333rem);opacity: 0;}
}


.page1>div.page1-1 .img7{
	position: absolute;
	left: 4.26667rem;
	top: 8.74667rem;
	/*animation: img7 1s ease-in;
	-webkit-animation: img7 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img7_d{
	animation: img7 1s ease-in;
	-webkit-animation: img7 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img7{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(0.71333rem,-2.56rem);-webkit-transform: translate(0.71333rem,-2.56rem);opacity: 0;}
}
@keyframes img7{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(0.71333rem,-2.56rem);-webkit-transform: translate(0.71333rem,-2.56rem);opacity: 0;}
}

.page1>div.page1-1 .img8{
	position: absolute;
	left: 2.30667rem;
	top: 8.14667rem;
	/*animation: img8 1s ease-in;
	-webkit-animation: img8 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img8_d{
	animation: img8 1s ease-in;
	-webkit-animation: img8 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img8{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(2.67333rem,-1.96rem);-webkit-transform: translate(2.67333rem,-1.96rem);opacity: 0;}
}
@keyframes img8{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(2.67333rem,-1.96rem);-webkit-transform: translate(2.67333rem,-1.96rem);opacity: 0;}
}

.page1>div.page1-1 .img9{
	position: absolute;
	left: 0.72rem;
	top: 6.7467rem;
	/*animation: img9 1s ease-in;
	-webkit-animation: img9 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img9_d{
	animation: img9 1s ease-in;
	-webkit-animation: img9 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img9{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(4.26rem,-0.56rem);-webkit-transform: translate(4.26rem,-0.56rem);opacity: 0;}
}
@keyframes img9{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(4.26rem,-0.56rem);-webkit-transform: translate(4.26rem,-0.56rem);opacity: 0;}
}

.page1>div.page1-1 .img10{
	position: absolute;
	left: 0.8667rem;
	top: 5rem;
	/*animation: img10 1s ease-in;
	-webkit-animation: img10 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img10_d{
	animation: img10 1s ease-in;
	-webkit-animation: img10 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img10{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(4.1133rem,1.18667rem);-webkit-transform: translate(4.1133rem,1.18667rem);opacity: 0;}
}
@keyframes img10{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(4.1133rem,1.18667rem);-webkit-transform: translate(4.1133rem,1.18667rem);opacity: 0;}
}

.page1>div.page1-1 .img11{
	position: absolute;
	left: 0.6rem;
	top: 3.28rem;
	/*animation: img11 1s ease-in;
	-webkit-animation: img11 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img11_d{
	animation: img11 1s ease-in;
	-webkit-animation: img11 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img11{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(4.38rem,2.90667rem);-webkit-transform: translate(4.38rem,2.90667rem);opacity: 0;}
}
@keyframes img11{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(4.38rem,2.90667rem);-webkit-transform: translate(4.38rem,2.90667rem);opacity: 0;}
}

.page1>div.page1-1 .img12{
	position: absolute;
	left: 2.2267rem;
	top: 3.30667rem;
	/*animation: img12 1s ease-in;
	-webkit-animation: img12 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img12_d{
	animation: img12 1s ease-in;
	-webkit-animation: img12 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img12{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(2.7533rem,2.88rem);-webkit-transform: translate(2.7533rem,2.88rem);opacity: 0;}
}
@keyframes img12{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(2.7533rem,2.88rem);-webkit-transform: translate(2.7533rem,2.88rem);opacity: 0;}
}

.page1>div.page1-1 .img13{
	position: absolute;
	left: 2.88rem;
	top: 2.58667rem;
	/*animation: img13 1s ease-in;
	-webkit-animation: img13 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img13_d{
	animation: img13 1s ease-in;
	-webkit-animation: img13 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}

@-webkit-keyframes img13{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(2.1rem,3.6rem);-webkit-transform: translate(2.1rem,3.6rem);opacity: 0;}
}
@keyframes img13{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(2.1rem,3.6rem);-webkit-transform: translate(2.1rem,3.6rem);opacity: 0;}
}

.page1>div.page1-1 .img14{
	position: absolute;
	left: 4.90667rem;
	top: 2.92rem;
	/*animation: img14 1s ease-in;
	-webkit-animation: img14 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img14_d{
	animation: img14 1s ease-in;
	-webkit-animation: img14 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img14{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(0.07333rem,3.26667rem);-webkit-transform: translate(0.07333rem,3.26667rem);opacity: 0;}
}
@keyframes img14{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(0.07333rem,3.26667rem);-webkit-transform: translate(0.07333rem,3.26667rem);opacity: 0;}
}
/*x = 4.98*/
/*y = 6.18667*/
.page1>div.page1-1 .img15{
	position: absolute;
	left: 6.98667rem;
	top: 2.84rem;
	/*animation: img15 1s ease-in;
	-webkit-animation: img15 1s ease-in;
	animation-fill-mode :forwards;*/
}
.img15_d{
	animation: img15 1s ease-in;
	-webkit-animation: img15 1s ease-in;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes img15{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-2.00667rem,3.34667rem);-webkit-transform: translate(-2.00667rem,3.34667rem);opacity: 0;}
}
@keyframes img15{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}
	to{transform: translate(-2.00667rem,3.34667rem);-webkit-transform: translate(-2.00667rem,3.34667rem);opacity: 0;}
}
.page1>div.page1-2 .img1{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
}
.page1>div.page1-2 .img2{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 21;
}
.page1>div.page1-2{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 11;
}
.page1-2_d{
	animation: page1-2 1s ease-in 2.5s;
	-webkit-animation: page1-2 1s ease-in 2.5s;
	animation-fill-mode :forwards;
	-webkit-animation-fill-mode :forwards;
}
@-webkit-keyframes page1-2{
	from{transform: translate(0,0);-webkit-transform: translate(0,0);}
	to{transform: translate(0,-2.83rem);-webkit-transform: translate(0,-2.83rem);}
}

.page1>div.page1-3 .img1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.page1>div.page1-3 .img_2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.page1>div.page1-3 .img_3{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.page1>div.page1-3{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}


/*第二页*/
.page2 .img_1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 15;
}
.page2 .img_2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page2 .img_3{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
/*第三页*/
.page3 .img_1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 12;
}
.page3 .img_2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page3 .img_3{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page3 .img_4{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
/*第四页*/

.page4 .img_1{
	position: absolute;
	left: -0.66667rem;
	top: 0;
	z-index: 10;
}
.page4 .img_2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page4 .img_3{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page4 .img_4{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page4 span{
	font-size: 16px;
	position: absolute;
	right: 2.6111rem;
	top: 36%;
	z-index: 11;
	font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

[data-dpr="2"] .page4 span {
	font-size: 32px;
}
[data-dpr="3"] .page4 span {
	font-size: 48px;
}

.page5 .img_1{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.page5 .img_1 img{
	width: 100%;
	height: 100%;
}
.page5 .img_1 .qrcode{
	position: absolute;
	width: 26%;
	height: 16%;
	left:38.2%;
	top:52.5%;
}

.page5 .img_2{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page5 .img_3{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page5 .img_4{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page5 .img_5{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}
.page5 .img_6{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 11;
	animation: page5_img6 1s ease-in;
	-webkit-animation: page5_img6 1s ease-in;
	transform-origin:5.2667rem 13.30667rem;
	-webkit-transform-origin:5.2667rem 13.30667rem;
}
@-webkit-keyframes page5_img6{
	0%{transform: scale(1);-webkit-transform: scale(1);}
	50%{transform: scale(1.2);-webkit-transform: scale(1.2);}
	100%{transform: scale(1);-webkit-transform: scale(1);}
}

.page5 .img_7{
	position: absolute;
	left: -0.66667rem;
	top: 0;
	z-index: 8;
}
.page5>a{
	display: block;
	width: 100%;
	height:0.6667rem;
	position: absolute;
	top:6.6667rem;
	left: 0;
	/*background: red;*/
	z-index: 999;
}
/*向上滑动提示按钮*/
.arrow{
	position: absolute;
	width: .45333rem;
	height:auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 5%;
	z-index:99;
	-webkit-animation: arrow 1s ease infinite;
	animation: arrow 1s ease infinite;
}
@-webkit-keyframes arrow{
	0%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
		opacity:0
	}
	100%{
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
		opacity:1
	}
}
